* {
    font-family: 'Dosis', sans-serif;
}

.offcanvas-header {
    color: #FFF !important;
    background-color: #3F88C5 !important;

    .btn-close-offcanvas {
        background-color: #63A6DE !important;
        color: #FFF;
    }
}

.btn-primary {
    background-color: #3F88C5 !important;
    border-color: #3F88C5 !important;
}

/* Oculta el botón de borrar en campos de búsqueda */
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
    display: none;
}

.form-control-search {
    border-start-start-radius: 800px !important;
    border-end-start-radius: 800px !important;
}

.btn-search {
    width: max-content;
    z-index: 1 !important;
    border-start-end-radius: 800px !important;
    border-end-end-radius: 800px !important;
    border-start-start-radius: 0 !important;
    border-end-start-radius: 0 !important;
}

.table-responsive {
    min-height: calc(100vh - 180px) !important;

    .table-no-bottom-border {
        border-bottom-color: #FFF;
    }
}

th {
    background-color: #FFF !important;
    color: #000000;
    font-weight: normal !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}


td:first-child { 
    background-color: #FFF !important;
}

td:nth-child(2) {
    border-start-start-radius: 10px;
    border-end-start-radius: 10px;
}

td:nth-child(6) {
    border-start-end-radius: 10px;
    border-end-end-radius: 10px;
}

td:last-child,
td:nth-last-child(2) {
    background-color: #FFF !important;
    width: 40px !important;
}

td:nth-last-child(2) a {
    color:#3F88C5;
}

td:last-child a {
    color: #ED0101;
    min-height: 100%;
}

td,
td a { 
    background-color: #F5F5F5 !important;
}

tbody tr {
    border-bottom-width: 10px !important;
}

/*Style for modal*/
.contentModalDeleteEmployee {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    align-items: center;
    justify-content: center;
}

.modal-contenido {
    background-color: #fff;
    width: 100%;
    margin: auto;
    border: #000000 solid 1px;
    min-width: 500px;
    max-width: 650px;
    border-radius: 20px;
    position: relative;
}

/* stylo para el border del titulo del modal delete employee */
p.border-bottom {
    border-color: #000000   !important;
}

/* Estilos para el botón de cerrar dentro del modal */
.btn-modal-cerrar {
    background-color: #F5F5F5 !important;
}
